footer.footer
    .container
        .footer__context
            a.footer__logo-link(href='#')
                img.footer__logo(src=require('./../../images/logo.svg'))
            .footer__copy-right
                    != '&copy; '
                    span.footer__copy-right-number 69
                    != ' - 2018'
            ul.footer__socials
                li.footer__social
                    a.footer__social-link(href='#')
                        img.footer__social-icon(src=require('./../../images/icons/ic-telegram.svg'))
                li.footer__social
                    a.footer__social-link(href='#')
                        img.footer__social-icon(src=require('./../../images/icons/ic-telegram.svg'))
                li.footer__social
                    a.footer__social-link(href='#')
                        img.footer__social-icon(src=require('./../../images/icons/ic-telegram.svg'))
                li.footer__social
                    a.footer__social-link(href='#')
                        img.footer__social-icon(src=require('./../../images/icons/ic-telegram.svg'))
                li.footer__social
                    a.footer__social-link(href='#')
                        img.footer__social-icon(src=require('./../../images/icons/ic-telegram.svg'))
