.trust-us
    .trust-us__map-wrapper
        img.trust-us__map(src=require('./../../images/map.png'))
    .container
        .trust-us__header-wrapper
            .trust-us__header
                h2.trust-us__title
                    span.trust-us__title-first They
                    span.trust-us__title-secound trust us
                p.trust-us__description
                    |Just a selection of a few-several global companies that we've collaborated to
        .trust-us__partners
            .trust-us__partner
                img.trust-us__partner-image(src=require('./../../images/partners/kinomo.png'))
            .trust-us__partner
                img.trust-us__partner-image(src=require('./../../images/partners/mtb.png'))
            .trust-us__partner
                img.trust-us__partner-image(src=require('./../../images/partners/wargaming.png'))
            .trust-us__partner
                img.trust-us__partner-image(src=require('./../../images/partners/ilex.png'))
            .trust-us__partner
                img.trust-us__partner-image(src=require('./../../images/partners/evroopt.png'))
            .trust-us__partner
                img.trust-us__partner-image(src=require('./../../images/partners/wargaming.png'))
            .trust-us__partner
                img.trust-us__partner-image(src=require('./../../images/partners/kufar.png'))
            .trust-us__partner
                img.trust-us__partner-image(src=require('./../../images/partners/solfy.png'))
            .trust-us__partner
                img.trust-us__partner-image(src=require('./../../images/partners/teslasuit.png'))
            .trust-us__partner
                img.trust-us__partner-image(src=require('./../../images/partners/crown.png'))
