.trust-us
    .trust-us__map-wrapper
        img.trust-us__map(src=require('./../../images/map.png'))
    .container
        .trust-us__header-wrapper.scrollme
            .trust-us__header
                h2.trust-us__title.animateme(
                data-when="enter"
                data-from="0.75"
                data-to="0.25"
                data-opacity="0"
                data-translatex="-200"
                )
                    span.trust-us__title-first They
                    span.trust-us__title-secound trust us
                p.trust-us__description.animateme(
                data-when="enter"
                data-from="0.7"
                data-to="0.2"
                data-opacity="0"
                data-translatex="-200"
                )
                    |Just a selection of a few-several global companies that we've collaborated to
        .trust-us__partners.scrollme
            .trust-us__partner.animateme(
            data-when="enter"
            data-from="0.75"
            data-to="0.25"
            data-opacity="0"
            data-scale="0.5"
            data-translatey="50"
            )
                img.trust-us__partner-image(src=require('./../../images/partners/kinomo.png'))
            .trust-us__partner.animateme(
            data-when="enter"
            data-from="0.75"
            data-to="0.25"
            data-opacity="0"
            data-scale="0.5"
            data-translatey="50"
            )
                img.trust-us__partner-image(src=require('./../../images/partners/mtb.png'))
            .trust-us__partner.animateme(
            data-when="enter"
            data-from="0.75"
            data-to="0.25"
            data-opacity="0"
            data-scale="0.5"
            data-translatey="50"
            )
                img.trust-us__partner-image(src=require('./../../images/partners/wargaming.png'))
            .trust-us__partner.animateme(
            data-when="enter"
            data-from="0.75"
            data-to="0.25"
            data-opacity="0"
            data-scale="0.5"
            data-translatey="50"
            )
                img.trust-us__partner-image(src=require('./../../images/partners/ilex.png'))
            .trust-us__partner.animateme(
            data-when="enter"
            data-from="0.75"
            data-to="0.25"
            data-opacity="0"
            data-scale="0.5"
            data-translatey="50"
            )
                img.trust-us__partner-image(src=require('./../../images/partners/evroopt.png'))
            .trust-us__partner.animateme(
            data-when="enter"
            data-from="0.75"
            data-to="0.25"
            data-opacity="0"
                data-scale="0.5"
            data-translatey="50"
            )
                img.trust-us__partner-image(src=require('./../../images/partners/wargaming.png'))
            .trust-us__partner.animateme(
            data-when="enter"
            data-from="0.75"
            data-to="0.25"
            data-opacity="0"
                data-scale="0.5"
            data-translatey="50"
            )
                img.trust-us__partner-image(src=require('./../../images/partners/kufar.png'))
            .trust-us__partner.animateme(
            data-when="enter"
            data-from="0.75"
            data-to="0.25"
            data-opacity="0"
                data-scale="0.5"
            data-translatey="50"
            )
                img.trust-us__partner-image(src=require('./../../images/partners/solfy.png'))
            .trust-us__partner.animateme(
            data-when="enter"
            data-from="0.75"
            data-to="0.25"
            data-opacity="0"
                data-scale="0.5"
            data-translatey="50"
            )
                img.trust-us__partner-image(src=require('./../../images/partners/teslasuit.png'))
            .trust-us__partner.animateme(
            data-when="enter"
            data-from="0.75"
            data-to="0.25"
            data-opacity="0"
                data-scale="0.5"
            data-translatey="50"
            )
                img.trust-us__partner-image(src=require('./../../images/partners/crown.png'))
