include ./pug-mixins/_socials
include ./pug-mixins/_contacts
include ./pug-mixins/_button
include ./pug-mixins/_formGroup
include ./pug-mixins/_contactForm
include ./components/animation-description/animation-description
include ./components/services-main/services-main
include ./components/about-main/about-main
include ./components/projects-main/projects-main
include ./components/contact-main/contact-main
include ./components/title-1/title-1
include ./components/header/header

mixin logo(isLight, isFirstScreen)
    - var color = isLight ? 'logo' : 'logo_black';
    - var isFirst = isFirstScreen ? 'logo_first' : '';
    a(href='/' class=`logo ${isFirst}`)
        img.logo__icon(src=require(`./../images/${color}.svg`))

mixin menu(isLight, isClose, isFirstScreen)
    - var isFirst = isFirstScreen ? 'menu_first' : '';
    - var menuMod = isLight ? '' : 'menu_dark';
    - var dottedMod = isClose ? 'menu__dotted_close' : '';
    a(href="#" class=`menu ${menuMod} ${isFirst}`)
        div(class=`menu__dotted ${dottedMod}`)
            span.menu__dotte
            span.menu__dotte
            span.menu__dotte
        .menu__title Menu

mixin lang(isLight, isFirstScreen)
    - var isFirst = isFirstScreen ? 'lang_first' : '';
    - var menuMod = isLight ? '' : 'lang_dark';
    div(class=`lang ${menuMod} ${isFirst}`)
        a.lang__link.lang__link_active(href="#", data-lang="ru") Ru
        a.lang__link(href="#", data-lang="en") En
