ul.socials
    li.socials__item
        a.socials__link(href='#')
            img.socials__icon(src=require('./../../images/icons/ic-telegram.svg'))
    li.socials__item
        a.socials__link(href='#')
            img.socials__icon(src=require('./../../images/icons/ic-instagram.svg'))
    li.socials__item
        a.socials__link(href='#')
            img.socials__icon(src=require('./../../images/icons/ic-facebook.svg'))
    li.socials__item
        a.socials__link(href='#')
            img.socials__icon(src=require('./../../images/icons/linked-in.svg'))
    li.socials__item
        a.socials__link(href='#')
            img.socials__icon(src=require('./../../images/icons/behance.svg'))
    li.socials__item
        a.socials__link(href='#')
            img.socials__icon(src=require('./../../images/icons/web.svg'))
